<!DOCTYPE html>

<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Well Done!</strong> An email has been sent to your account
</div>

<head>
    <title>Email Sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="1style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="jumbotron">
  <div class="container">
    <h1>Hello, Homosapien!</h1>
  	<p>A message was sent to your email with your password. If there is no email in five minutes, press the help button which will send another message to your account. Thank you for your patience.</p>
  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Help</a></p>
  </div>
</div>