<!DOCTYPE html>

<head>
    <title>Hype</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="3style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<h1> Turn UP!</h1>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
		<ul class="nav nav-tabs">
  			<li role="presentation"><a href="/Fusic">Home</a></li>
  			<li role="presentation"><a href="/Unstressed">Unstressed</a></li>
  			<li role="presentation"><a href="/Angry">Angry</a></li>
 		 	<li role="presentation"><a href="/Sad">Sad</a></li>
  			<li role="presentation"><a href="/Happy">Happy</a></li>
        <li role="presentation" class="active"><a href="/Hype">Hype</a></li>
		</ul>
		<h4>Do you want to change your mood? If so, click one of the moods above, otherwise here are ten songs to enhance your hypeness</h4>

     <OL>
    <% @hype_title.each do | title | %>
    <li> <%= title %> </li>
    <% end %>    
    </OL>

	</div>
  </div>
</nav>