<!DOCTYPE html>

<head>
    <title>Fusic Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<nav class="navbar navbar-inverse" role="navigation">
<form class="form-inline" role="form">
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="exampleInputEmail2">Email address</label>
      <div class="input-group-addon">@</div>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <a class="btn btn-default btn-default" href="/Fusic" role="button">Log in</a>
  <a class="btn btn-default btn-link" href="/forgotpassword" role="button">Forgot Password?</a>
</form>
</nav>

<body>
	<div class="row">
		<div class="col-sm-5 col-offset-6">
			<h1> Welcome to Fusic </h1>
			<p> Connect with your friends - and share your music with them. Get in the moment and jam out! </p>
		</div>
	</div>
</body>

<div class="row">
<div class="col-sm-4 col-sm-offset-6">
<form class="form-horizontal" role="form">
	Sign Up for Fusic Here
	<div class="form-group">
    <label for="inputUseername" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="Username" class="form-control" id="inputUsername" placeholder="Full Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-12 control-label"></label>
    <div class="col-sm-12">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
    	<a class="btn btn-default btn-default" href="/Fusic" role="button">Register</a>
    </div>
  </div>
</form>
</div>
</div>

<address>
  <strong>Fusic, Inc.</strong><br>
  795 Silicon Valley, Suite 9<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (718) 559-7952
</address>

<address>
  <strong>Deven Desai and Zach Bernagene</strong><br>
  <a href="mailto:#">ddesai@collegiateschool.org</a>
  <a href="mailto:#">zbernagene@collegiateschool.org</a>
</address>
</html>