body {background-color: #f8f8f8}
h1 {font-size: 50px; color: rgb(0, 255, 197); margin-left: 391px;}
.btn-primary {width: 1034px; margin-left: 198px;}
.navbar-default .navbar-text {margin-left: 1083px; color: #38C5F9}