body {color: salmon; background-image: url("http://cdn.doandroidsdance.com/assets/2013/01/EDMcrowd.jpg");}
.navbar-inverse .btn-link {color: salmon}
.row {font-size: 15pt; font-family: sans-serif;}
h1 {font-size: 38px; line-height: 44px; margin-bottom: 30px; text-shadow: none; margin-left: 122px;
}
p {font-size: 20px; margin-left: 53px}
address {color: rgb(190, 255, 0)}
a {color: #FD050E}
